@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  font-family: "Space Mono", monospace;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  min-height: 953px;
  height: 100vh;
  align-items: end;
  background-color: #c5e4e7;
  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-position: 50% 70px;
}

@media screen and (min-width: 965px) {
  body {
    align-items: center;
    background-position: 50% 120px;
  }
}
